.content{
    padding: 5%;
    text-align: center;
}

.content img{
    margin: 2%;
    height: 22%;
    width: 22%;
    padding: 2%;
    border-radius: 50%;
    border: 2px solid #B3A394;
}

h1{
    text-align: center;
    font-family: Lora;
}

.product{
    clear:both;
    margin: 0;
    padding: 5% 10% 0 10%;
    margin-bottom: 3em;
}

.col img{
    width: 80%;
    height: 80%;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    width: 45%;
    font-family: Lora;
    text-align: left;
    line-height: 2em;
}

.col h2{
    text-align: center;
    padding-bottom: 5%;
}

.col:first-child{
    margin-left: 0;
}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

@media only screen and (max-width: 480px){
   .col{  
       margin: 1% 0 1% 0%; 
    }
    .col-span2, .col-span1{
        width: 100%; 
    }
}

.col-span2 .shop{
    text-decoration: none;
    color: #716969;
}

.col-span2 .shop:hover{
    color:  #BCABAE;
}


/* Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
}*/