.products {
    text-align: center;
    color: #966c55;
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

.products img{
    border-radius: 70px;
    padding: 30px;
    height: 400px; 
    width: 500px;
}