* {
    text-align: center;
}

.formfield {
    width: 50%;
    margin: 0 auto;

}

form.add-to-cart div,
form.add-to-cart p {
	text-align: center;
}

form input.qty {
	width: 40px;
	border: 1px solid #eee;
	font: 1em 'PT Serif', serif;
	background: #f9f9f9;
	color: #000;
	border-radius: 3px;
	margin-left: 0.4em;
}

#shipping span {
	margin-left: 1em;
}

#content > h1,
#checkout-order-form h2 {
	font-size: 2em;
	text-align: center;
}

#pricing #sub-total,
#pricing #shipping {
	margin: 1em 0;
}

#checkout-order-form {
	margin: 1.5em 0;
}

#checkout-order-form fieldset {
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 1em;
	margin-bottom: 1.3em;
}

#checkout-order-form legend {
	padding: 0.3em;
	background: #fafafa;
	font-weight: bold;
}

#checkout-order-form div {
	margin-bottom: 1em;
}

#checkout-order-form label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.3em;
	text-align: left;
}

#checkout-order-form input[type="text"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form input[type="email"] {
	width: 200px;
	display: block;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em;
}

#checkout-order-form select {
	width: 200px;
	display: block;
}

span {
	text-align: center;
	padding: 0;
}

footer{
	position: fixed;
}
