img {
    border-style: none;
}
.nav {
    font-weight: bold;
    font-size: .75em;
}

.companyname {
    font-weight:bold;
    font-family:Georgia, "Times New Roman", serif;
    font-size:1.25em;
}

.body-content {
    padding: 0 0 1.5em 0;
}

.parallax {
    background-image: url("./img/bg/bgcoffee.jpg");
    max-width: 100%;
    max-height: 100%;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 500px;
}

#banner{
    font-size: 0;
}

.content{
    clear:both;
    margin: 0;
    padding: 5% 10%;
}

.col img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    width: 30%;
    font-family: Lora;
    text-align: center;
    line-height: 2em;
}

.col:first-child{
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

@media only screen and (max-width: 480px){
   .col{
       margin: 1% 0 1% 0%;
    }
   .col-span3, .col-span2, .col-span1{
       width: 100%;
    }
    #desc-text{
        line-height: 2em !important;
        font-size: 1em;
    }
    #desc-text h3{
        line-height: 2em !important;
        margin-top: 0% !important;
        margin-bottom: 0% !important;
    }
}

@media only screen and (max-width: 720px){
    #banner{
        margin-left: -300px;
        margin-right: -300px;
    }
    #banner2{
        margin-left: -300px;
        margin-right: -300px;
    }
    #desc-text{
        line-height: 1em;
        font-size: 1em;
    }
    #desc-text h3{
        line-height: 1em;
        margin-top: -10%;
        margin-bottom: -5%;
    }
}
@media only screen and (max-width: 768px){
    #banner{
        margin-left: -200px;
        margin-right: -200px;
    }
    #banner2{
        margin-left: -150px;
        margin-right: -150px;
    }
}

#banner2 img{
    width: 100%;
}

#coffeebean1 {
    overflow: hidden;
    font-size: 0;
    border-radius: 15px;
}

#coffeebean1:hover img{
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
    position: relative;
    z-index: 1;
}

#subscribe{
    text-align: center;
    margin-bottom: 3em;
    font-family: Lora;
}

#subscribe button{
    font-family: Lora;
}
